pyrogram
pyrofork==2.3.38 
TgCrypto==1.2.5
pyromod==1.5
humanize
schedule
APscheduler
# --- For-Database ------------ #
pymongo
motor
dnspython
# --- For-Web-Response ------- #
aiohttp
python-dotenv
# --- For-Web-Response ------- #
pytz
requests
bs4
aiofiles
asyncio
